<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBp7pYNKUbh7nad13BbqeIyHWfU9iaUIV4</string>
	<key>GCM_SENDER_ID</key>
	<string>128132179512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmari.smartpen</string>
	<key>PROJECT_ID</key>
	<string>smartpen-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>smartpen-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128132179512:ios:3d497a150e84e7985128cd</string>
</dict>
</plist>